{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>AgroET</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'er2_map/img/erams-icon.png' %}">
    <link href="https://mapskincdn.appspot.com/1.0/mapskin.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'er2_reset/dist/main.css' %}?v={{ version }}" />
    <script>localStorage.setItem("next", "{{ next }}")</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-192217785-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-192217785-1');
</script>

</head>
<body style="margin: 0">
    <div id="root" />
</body>
    <script type="text/javascript" src="{% static 'er2_reset/dist/index.min.js' %}?v={{ version }}"></script>
</html>
